
<script type="text/javascript" src="/static/scripts/main/jquery.js"></script>
<script type="text/javascript" src="/static/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/static/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/static/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/static/scripts/main/util/action.js"></script>
<script type="text/javascript" src="/static/scripts/main/util/business.js"></script>
<script type="text/javascript" src="/static/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/static/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/static/scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" src="/static/scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" src="/static/scripts/main/site/home.js"></script>